* { 
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #354147;
  }

 ul{
     list-style-type: none;
 }

 header{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
 }

 .navegador{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
 }

 .principal{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  background-image: url(Imagenes/Nube.png), url(Imagenes/Montaña.png), url(Imagenes/Pasto.png);
 }

.follow{
  display: flex; 
  flex-direction: column;
 } 
 
 li{
   margin-left: 30px;
 }

 .guide{
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
 }

 .uno{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
 }
 